Moje hobby/XML/schema_GENEROWANE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="mistrzostwa">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="wstep">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:element name="osoba">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="plec" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="miejsce">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="kontynent" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="data" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="jezyk" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="faza">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="faza_rozgrywek">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="mecz">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" name="druzyna" type="xs:string" />
													<xs:element name="wynik" type="xs:string" />
													<xs:element minOccurs="0" name="zdjecie">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="format" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="nr" type="xs:unsignedByte" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="etap" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="etap" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="adres" type="xs:string" use="required" />
			<xs:attribute name="rok" type="xs:unsignedShort" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>